
<div class="row">

	<div class="panel panel-default">
		<div class="panel-heading">
			<div>{{blogPost.title}}</div>
			<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
			<span><strong>On:</strong>{{blogPost.postedOn |
				date:'medium'}}</span>
		</div>
		<div class="panel-body">{{blogPost.description}}</div>
	</div>

</div>
<div class="container">

	<form>
		<textarea rows="3" cols="20" ng-model="blogComment.body"></textarea><br>
		<br><button ng-click="addComment()" value="Post Comment"
			class="btn btn-primary">Post Comment</button>
	</form>

</div>
