<div class="container">

<div class="table-responsive" ng-show="currentUser.role=='Admin'">

<h1>Blog Posts Waiting for approval</h1>
<table class="table table-striped">
<thead>
<tr><th>Recent Posts</th><th>Written By</th><th>Date</th></tr>
</thead>
<tbody>
<tr ng-repeat="blogPost in blogsWaitingForApproval">

<td> <a href="#getBlogForApproval/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td> Created By:{{blogPost.createdBy.username}}</td>

<td> Created On:{{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>
</tbody>
</table>
</div>

<div class="table table-striped">

<h1>Blog Posts</h1>  
<table class="table table-striped ">
<thead>
<tr><th>Recent Posts</th><th>Written By</th><th>Date</th></tr>
</thead>
<tbody>
<tr ng-repeat="blogPost in blogsApproved ">

<td><a href="#getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td> Created By:{{blogPost.createdBy.username}}</td>
<td> Created On:{{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>
</tbody>

</table>
</div>
</div>













<!-- 
<td><a href="#getBlogForApproval/{{blogPost.id}}"></a>{{blogPost.title}}</td>
<>
</thead>
<tbody>
<tr ng-repeat="blogPost in blogsWaitingForApproval">
<td><a href="" ng-click="getBlogPosts(blogPost.id)">{{blogPost.title}}</a></td>
<td>{{blogPost.postedOn | date:'yyyy:MM:dd'}}</td>
</tr>
</tbody>	
</table>

<div ng-show="showdetails">
<b>Blog Details</b><br>
title : {{blogPost.title}}<br>
Description : {{blogPost.description}}<br>
UserName : {{blogPost.username}}
</div>
</div> -->